<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app> 
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>OperationsServlet</servlet-name>
  	<display-name>OperationsServlet</display-name>
  	<description></description>
  	<servlet-class>org.patomediatags.operations.OperationsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BeforeIndex</servlet-name>
  	<display-name>BeforeIndex</display-name>
  	<description></description>
  	<servlet-class>org.patomediatags.operations.BeforeIndex</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OperationsServlet</servlet-name>
  	<url-pattern>/OperationsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BeforeIndex</servlet-name>
  	<url-pattern>/BeforeIndex</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
	    <welcome-file>BeforeIndex</welcome-file>
	    <welcome-file>index.html</welcome-file>
	    <welcome-file>index.htm</welcome-file>
	    <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
