#start{
	float: left;
	padding-left: 3%;
	
}

#destiny{
	float: right;
	padding-right: 3%;
}

html {
   width: 100%;
   heigth: 100%;
}
body {
   width: 100%;
   heigth: 100%;
}

#button_submit{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

input[type=text], button, label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding-right: 6%;
  